table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 5px solid black;
  }
  
  th, td {
    flex: 1;
    text-align: center;
    border: 3px solid gray;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
